In [3]:
import pandas as pd
import numpy as np

In [10]:
df=pd.read_csv("C:\\Users\\Hannah\\Desktop\\UT_Austin\\Analytics_MSBA\\Fall_19\\Data_mgmt_intro\\Final_project\\worldnews_0619.csv")

In [11]:
df[:5]

,body,author,created_utc,subreddit_id,link_id,parent_id,score,retrieved_on,controversiality,gilded,id,subreddit
0,Boarders huh,J_Man2743,1559518235,t5_2qh13,t3_a78kyo,t3_a78kyo,0,1568784725,0,0,epuwwc7,worldnews
1,[removed],[deleted],1561011745,t5_2qh13,t3_aeu81p,t1_erl6n3x,0,1570329691,0,0,erm9r84,worldnews
2,I think you know less when you think that Stal...,steeritupld,1560168854,t5_2qh13,t3_andfac,t1_eqmsv60,0,1569348202,0,0,eqmx6le,worldnews
3,So why are you using it as an argument against...,arvada14,1560403679,t5_2qh13,t3_aqio89,t1_eggt2jk,0,1569783807,0,0,eqzooom,worldnews
4,There is no round up ready wheat in the commer...,arvada14,1560400159,t5_2qh13,t3_aqio89,t1_eghowah,0,1569779899,0,0,eqzhngv,worldnews

In [12]:
df['author'].value_counts()[:5]

[deleted]           123493
AutoModerator         5601
autotldr              3904
FblthpLives           1152
Capitalist_Model       830
Name: author, dtype: int64

In [13]:
df1=df[df['body']!="[removed]"]
df2=df1[df1['body']!="[deleted]"]

In [14]:
df2[:5]

,body,author,created_utc,subreddit_id,link_id,parent_id,score,retrieved_on,controversiality,gilded,id,subreddit
0,Boarders huh,J_Man2743,1559518235,t5_2qh13,t3_a78kyo,t3_a78kyo,0,1568784725,0,0,epuwwc7,worldnews
2,I think you know less when you think that Stal...,steeritupld,1560168854,t5_2qh13,t3_andfac,t1_eqmsv60,0,1569348202,0,0,eqmx6le,worldnews
3,So why are you using it as an argument against...,arvada14,1560403679,t5_2qh13,t3_aqio89,t1_eggt2jk,0,1569783807,0,0,eqzooom,worldnews
4,There is no round up ready wheat in the commer...,arvada14,1560400159,t5_2qh13,t3_aqio89,t1_eghowah,0,1569779899,0,0,eqzhngv,worldnews
5,Curious...If there ever winds up being proven ...,zenwalrus,1559812945,t5_2qh13,t3_atqudb,t1_eh3b69n,0,1568978537,0,0,eq5skxs,worldnews

In [15]:
df2 = df2[pd.notnull(df2['body'])]

In [16]:
c=(pd.Series(' '.join(df2['body']).lower().split())).tolist()

In [17]:
from nltk.corpus import stopwords

# You will have to download the set of stop words the first time
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Hannah\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [18]:
s=set(stopwords.words('english'))

In [19]:
filtered_sentence = [] 
  
for w in c: 
    if w not in s: 
        filtered_sentence.append(w)

In [26]:
from collections import Counter
Counter(filtered_sentence).most_common(20)

[('people', 129041),
 ('like', 102564),
 ('would', 94037),
 ('us', 72032),
 ('one', 62265),
 ('think', 60980),
 ('get', 58791),
 ('even', 57851),
 ('&gt;', 54062),
 ('trump', 44404),
 ('also', 44326),
 ("i'm", 44024),
 ('know', 41835),
 ("that's", 40965),
 ('want', 40312),
 ('make', 38736),
 ('could', 38620),
 ('much', 36247),
 ('going', 35703),
 ('really', 35154)]

In [21]:
df3=df2[df2['controversiality']==1]

In [22]:
c=(pd.Series(' '.join(df3['body']).lower().split())).tolist()

In [23]:
filtered_sentence_cont = [] 
  
for w in c: 
    if w not in s: 
        filtered_sentence_cont.append(w)

In [27]:
from collections import Counter
Counter(filtered_sentence_cont).most_common(20)

[('people', 12386),
 ('like', 8797),
 ('us', 7423),
 ('would', 7361),
 ('trump', 5071),
 ('think', 5041),
 ('one', 4936),
 ('get', 4762),
 ('even', 4670),
 ('&gt;', 3460),
 ("i'm", 3392),
 ('right', 3327),
 ('want', 3323),
 ("that's", 3279),
 ('know', 3272),
 ('make', 3213),
 ('also', 3154),
 ('iran', 3106),
 ('going', 2990),
 ('really', 2832)]